<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pluu.pluubasiclibrary">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:theme="@style/BaseMaterialAppTheme"
            android:name="com.pluu.pluubasiclibrary.MaterialMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.pluu.pluubasiclibrary.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
               <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            </intent-filter>
        </activity>

        <activity
            android:name="com.pluu.pluubasiclibrary.pluu.AppInfoActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_app_info">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="PLUU_SAMPLE_CODE"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.pluu.pluubasiclibrary.android.RecyclerViewActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_recycler_view">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="PLUU_SAMPLE_CODE"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.pluu.pluubasiclibrary.pluu.CardViewBuilderActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_card_view_builder">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="PLUU_SAMPLE_CODE"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
